@import 'src/libs/_bootstrap-reboot.min.scss';

@import 'base/mixins';
@import 'base/variables';


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/about';
@import 'blocks/menu';
@import 'blocks/resume';
@import 'blocks/work';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';
@import 'blocks/media';